@font-face {
    font-family: 'open_sansitalic';
    src: url('../resources/css/font/opensans-italic-webfont.eot');
    src: url('../resources/css/font/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/css/font/opensans-italic-webfont.woff') format('woff'),
         url('../resources/css/font/opensans-italic-webfont.ttf') format('truetype'),
         url('../resources/css/font/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../resources/css/font/opensans-regular-webfont.eot');
    src: url('../resources/css/font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/css/font/opensans-regular-webfont.woff') format('woff'),
         url('../resources/css/font/opensans-regular-webfont.ttf') format('truetype'),
         url('../resources/css/font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../resources/css/font/opensans-light-webfont.eot');
    src: url('../resources/css/font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/css/font/opensans-light-webfont.woff') format('woff'),
         url('../resources/css/font/opensans-light-webfont.ttf') format('truetype'),
         url('../resources/css/font/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../resources/css/font/opensans-semibold-webfont.eot');
    src: url('../resources/css/font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/css/font/opensans-semibold-webfont.woff') format('woff'),
         url('../resources/css/font/opensans-semibold-webfont.ttf') format('truetype'),
         url('../resources/css/font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}